.hero-image-container {
    position: relative;
    width: 100%;
    max-width: 800px; /* Adjust the maximum width as needed */
    margin: 0 auto;
    overflow: hidden;
  }
  
  img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.5s ease; /* Add transition for smooth effect */
  }
  
  .hero-image-container:hover img {
    transform: scale(1.1); /* Adjust the scale factor for the hover effect */
  }
  
  .hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6); /* Background color for text box */
    color: #fff; /* Text color */
    padding: 20px;
  }
  
  .hero-text p {
    font-size: 18px;
    margin: 0;
  }
  